<div id="follow-icons">

<% if (theme.linkedin) { %>
	<a href="<%- theme.linkedin %>"><i class="fa fa-linkedin-square fa-2x"></i></a>
<% } %>

<% if (theme.twitter) { %>
	<a href="<%- theme.twitter %>"><i class="fa fa-twitter-square fa-2x"></i></a>
<% } %>

<% if (theme.github) { %>
	<a href="<%- theme.github %>"><i class="fa fa-github-square fa-2x"></i></a>
<% } %>

<% if (theme.facebook) { %>
	<a href="<%- theme.facebook %>"><i class="fa fa-facebook-square fa-2x"></i></a>
<% } %>

<% if (theme.pinterest) { %>
	<a href="<%- theme.pinterest %>"><i class="fa fa-pinterest-square fa-2x"></i></a>
<% } %>

<% if (theme.instagram) { %>
	<a href="<%- theme.instagram %>"><i class="fa fa-instagram fa-2x"></i></a>
<% } %>

	<a href="<%- theme.feed %>"><i class="fa fa-rss-square fa-2x"></i></a>

</div>

<nav class="sh-sidebar-featured">
	<ul class="sh-sidebar-list">
		<% for (link in theme.sidebarLinks) { %>
			<% if(theme.sidebarLinks.hasOwnProperty(link)){ %>
				<li class="sh-sidebar-item"><span class="sh-sidebar-item-separator">//</span><a href="<%- theme.sidebarLinks[link] %>"><%- link %></a></li>
			<% } %>
		<% } %>
	</ul>
</nav>
