<div id="follow-icons">

<% if (theme.socialName) { %>
	<div class="hs-social-name">Connect with <%- theme.socialName %> here:</div>
<% } %>

<% if (theme.linkedin) { %>
	<a href="<%- theme.linkedin %>" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
<% } %>

<% if (theme.twitter) { %>
	<a href="<%- theme.twitter %>" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>
<% } %>

<% if (theme.github) { %>
	<a href="<%- theme.github %>" target="_blank"><i class="fa fa-github-square fa-2x"></i></a>
<% } %>

<% if (theme.facebook) { %>
	<a href="<%- theme.facebook %>" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
<% } %>

<% if (theme.pinterest) { %>
	<a href="<%- theme.pinterest %>" target="_blank"><i class="fa fa-pinterest-square fa-2x"></i></a>
<% } %>

<% if (theme.instagram) { %>
	<a href="<%- theme.instagram %>" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
<% } %>

	<a href="<%- theme.feed %>"><i class="fa fa-rss-square fa-2x"></i></a>

</div>

<nav class="hs-sidebar-featured">
	<ul class="hs-sidebar-list">
		<% for (link in theme.sidebarLinks) { %>
			<% if(theme.sidebarLinks.hasOwnProperty(link)){ %>
				<li class="hs-sidebar-item"><span class="hs-sidebar-item-separator">//</span><a href="<%- theme.sidebarLinks[link] %>"><%- link %></a></li>
			<% } %>
		<% } %>
	</ul>
</nav>

<div class="hs-upcoming-content">
			<% if (theme.upcomingContent.length > 0) %>
				<div class="hs-upcoming-content-header">content coming soon:</div>
			<% } %>
	<ul class="hs-upcoming-content-list">
			<% for (var i = 0; i < theme.upcomingContent.length; i++) { %>
					<li class="hs-upcoming-content-item"><span class="hs-sidebar-item-separator"></span><%- theme.upcomingContent[i] %></li>
			<% } %>
	</ul>
</div>
